<div class="container-xxl" id="books-container">
    <div class="row">
    
            @for (book of library; track book.id_book;){
            <div class="col">
            <app-cards  (eventDelete)="deleteBook($event)" [book]="library"   (eventInsertBook)="getNewBook ($any($event))" [book]="library" ></app-cards>

            </div>}
            @empty{
            <div class="alert alert-warning" role="alert">
                Wow, you don't have any books!
            </div>}
    </div>
    <!-- <div class="form">
        <div class="row2">
            <div class="input-group">
                <button class="btn btn-warning" type="button">Add book</button>
                <input type="text" aria-label="Title" class="form-control" placeholder="Title" #title>
                <input type="text" aria-label="soft/hard cover" class="form-control" placeholder="Cover (Soft/ Hard)"
                    #type>
                <input type="text" aria-label="Author" class="form-control" placeholder="Author" #author>
                <input type="text" aria-label="Price" class="form-control" placeholder="Price" #price>
                <input type="text" aria-label="Photo" class="form-control" placeholder="URL photo" #photo>
                <input type="text" aria-label="Codice" class="form-control" placeholder="Codice Book" #id_book>
                <input type="text" aria-label="User" class="form-control" placeholder="User" #id_user>
                
            </div>
        </div>
    </div> -->
</div>