<div class="container-xxl" id="books-container">
    <div class="row">
        @if (!singleBook){
        @for (book of books; track book.id_book;){
        <div class="col">
            <app-cards (eventDelete)="deleteBook($event)" [book]="book.id_book" 
                (eventInsertBook)="getNewBook ($any($event))" [book]="book.id_book"></app-cards>

        </div>}
        @empty{
        <div class="alert alert-warning" role="alert">
            Wow, you don't have any books!
        </div>}
    }

        
        @if (singleBook){
        <div class="row">
            <div class="cardSingleBook">
                <img src="{{singleBook.photo}}" class="card-img-top" alt="...">
                <p class="card-type">{{singleBook.type}}</p>
                <div class="card-body">
                    <h6 class="card-title">{{singleBook.title}}</h6>
                    <p class="card-text-author">{{singleBook.author}}</p>
                    <p class="card-text-ref">{{singleBook.id_book| refBooks}}</p>
                    <h6 class="card-text">{{singleBook.price |euroSymbol}}</h6>
                    <div class="cardButton">
                        <a class="btn btn-outline-primary">Buy</a>
                    </div>
                </div>
            </div>
        </div>

        }




    </div>
    <div class="form">
        <div class="row2">
            <div class="input-group">
                <button class="btn btn-warning" type="button">Search book</button>

                <input type="text" aria-label="Codice" class="form-control" placeholder="Codice Book" #id_book>
                <button (click)="findBook(id_book)" class="btn btn-outline-success" type="button">Find Book by
                    Id</button>
            </div>
        </div>
    </div>
</div>