<footer class="navbar navbar-expand-lg p-3 mb-1 bg-dark text-light">
    <div class="f1">
        <figure class="bloqFooter ">

            <a class="textFooter" href="https://twitter.com/casadellibro">
                <img class="imageFooter" src="/assets/twiter_icon.jpg" alt="">
            </a>
            <a class="textFooter" href="https://www.facebook.com/casadellibro">
                <img class="imageFooter" src="/assets/facebook_icon.png" alt="">
            </a>

            <a class="textFooter" href="https://www.instagram.com/casadellibro/?hl=es">
                <img class="imageFooter" src="/assets/instagram_icon.jpg" alt="">
            </a>

            <a class="textFooter" href="https://play.google.com/store/apps?hl=es&gl=US">
                <img class="imageFooter" src="\assets\googlePlay_icon.png" alt="">
            </a>

            <a class="textFooter" href="https://www.casadellibro.com/nosotros/trabajaNosotros">
                <img class="imageFooter" src="/assets/MyBooks_icon.jpg" alt="">Trabaja con nosotros</a>
            <a class="textFooter">©_2024_MyBooks</a>
        </figure>
    </div>
</footer>