.navbar {
    position: absolute;
    top: 100%;
    height: 25%;
}

.bloqFooter {
    display: flex;
    justify-content: space-between;
    padding: 2%;
  
}

.imageFooter {

    width: 35%;
    height: 30%;

}