    <div class="card"#book>
        <button (click)="deleteCard(id_book)" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        <img src="{{photo}}" class="card-img-top" alt="...">
        <p class="card-type">{{type}}</p>
        <div class="card-body">
            <h6 class="card-title">{{title}}</h6>
            <p class="card-text-author">{{author}}</p>
            <p class="card-text-ref">{{id_book | refBooks}}</p>
            <h6 class="card-text">{{price |euroSymbol}}</h6>
            <div class="cardButton">
                <a class="btn btn-outline-primary">Buy</a>
            </div>
        </div>
    </div>
    